body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light-green {
  background-color: #acd699;
}

.aqua-green {
  background-color: #4fc376;
}

.medium-green {
  background-color: #0db150;
}

.yellow-green {
  background-color: #70cc33;
}

.dark-green {
  background-color: #106d11;
}
